---
import Name from "../components/name.astro";
import contacts from "../data/actor-contacts.json";
import sections_in from "../data/actor-main-sections.json";
import ActorSection from "../components/actor-section.astro";
import { skills, education } from "../data/actor-details.json";
import ActorSkills from "../components/actor-skills.astro";
import ActorEducation from "../components/actor-education.astro";

const sections = sections_in as Array<{
	title: string;
	subsections: Array<{
		title: string;
		company_info: string;
		role: string;
	}>;
}>;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="icofont.min.css" />
		<title>Lee-Orr</title>
	</head>
	<body>
		<img style="w-full h-full" src="./headshots/Headshot - Friendly.png" />
		<div style="page-break-before:always" class="p-5">
			<Name title="Actor, Writer, Composer" contacts={contacts} />
			{
				sections.map(({ title, subsections }) => (
					<ActorSection title={title} subsections={subsections} />
				))
			}
			<ActorEducation education={education} />
			<ActorSkills skills={skills} />
		</div>
	</body>
</html>
