---
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { getCollection } from "astro:content";
import Shell from "../../../components/shell.astro";
import Html from "../../../components/html.astro";
import slugify from "slugify";

export const getStaticPaths = (async () => {    
 const entries = (await getCollection("blog")).map((v) => ({
      ...v,
      data: {
        ...v.data,
        tags: typeof v.data.tags == "string" ? v.data.tags
          .split(/(\s|",")+/g)
          .map((v) => v.trim())
          .map((v) => slugify(v, { lower: true, strict: true }))
          .filter((v) => v.length > 0) : Object.keys(v.data.tags),
      },
    }));
 return entries.map(entry => ({params: { post_slug: entry.slug as string }, props: { entry  }}))
}) satisfies GetStaticPaths;

import { storytelling, link_types } from "../../../data/site-nav-data.json";

const { socials, nav } = storytelling;

const link_icons: {[key: string]: string | undefined} = link_types;

slugify.extend({ "/": "-", "\\": "-" });

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props as Props;
let data = entry.data;

let title = data.title;

let date = data.date;

let tags = data.tags;

const { Content } = await entry.render();
---

<Html>
    <Shell area="storytelling" socials={socials} nav={nav}>
        <article>
            <h1>{title}</h1>
            <aside>
            <h3>
                Posted <time datetime={date.toDateString()}>{date.toLocaleDateString('default', { month: "short", year: 'numeric' })}</time>
            </h3>
            <ul aria-label="technologies and skills" class="tags">
              {
                data.tags.map((tag) => <li>{tag}</li>)
              }
            </ul>
            </aside>
            <section><Content /></section>
        </article>
    </Shell>
</Html>

<style>
    article {
        display: grid;
        grid-template-columns: 
        [page-start] 1rem
        [title-start context-start body-start] 2fr 
        [title-end context-end body-end aside-start] fit-content(30%)
        [aside-end page-end];
        grid-template-rows: [page-start aside-start] 1rem
        [title-start] min-content 
        [title-end context-start] min-content 
        [context-end body-start] min-content
        [aside-end] auto 
        [body-end] 1rem
        [page-end];

        border-radius: 1rem;
        background-color: var(--color-panel-bg);
        overflow-x: hidden;
    }

    h1 {
        grid-area: title;
        font-size: 2em;
        text-align: center;
    }

    h2 {
        grid-area: context;
        text-align: center;
        font-size: 1.2em;
    }

    aside {
        display: flex;
        grid-area: aside;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 0.5rem;
        padding: 1rem;
        font-size: 0.7em;
        background-color: var(--color-accent);
        border-bottom-left-radius: 1rem;
        text-align: end;
    }

    section {
        grid-area: body;
        font-size: 0.8em;


        & :global(p) {
            padding: 1rem;
        }
    }

    .tags {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        gap: 0.5em;

        li {
            background-color: var(--color-panel-bg);
            padding: 0.5em;
            border-radius: 0.5em;
        }
    }


    
    @media (max-width: 700px) {
      article {
            grid-template-columns: 
            [page-start aside-start] 1rem
            [title-start context-start body-start] 1fr
            [title-end context-end body-end] 1rem
            [aside-end page-end];
            grid-template-rows: [page-start] 1rem
            [title-start] min-content
            [title-end context-start] min-content
            [context-end aside-start] min-content
            [aside-end] min-content 
            [body-start] min-content
            [body-end] 1rem
            [page-end];
        }

        aside {
          border-bottom-left-radius: 0;
          align-items: center;
          text-align: center;
        }

        .tags {
          align-items: center;
          justify-content: center;
        }
    }
    
</style>