---
const name = "Lee-Orr"
const pronouns = "they/them"
const { title, contacts } = Astro.props as { title: string, contacts: Array<{ type: string, value: string, icon?: string}>};
---
<div class="name container mx-auto flex flex-col align-middle justify-start text-center">
<h1 class="text-xl text-black font-bold">{name} <span class="pronouns text-gray-700 font-normal text-sm">({pronouns})</span></h1>
<h2 class="text-sm text-black font-bold">{title}</h2>
<span class="inline-flex flex-row gap-2 justify-center flex-wrap">{contacts.map(({type, value, icon}) => {
    if (icon) {
        return (<span class="contact inline-flex flex-row gap-1 text-xs align-middle"><i class={icon}/><span>{value}</span></span>)
    } else {
        return (<span class="contact inline-flex flex-row gap-1"><h4 class="font-bold text-xs">{type}</h4><span class="text-gray-700 text-xs">{value}</span></span>)
    }
})}</span>
</div>

<style>
    i {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>