---
import AnimatedBackdrop from "./animated-backdrop.astro";

const { area, socials, nav } = Astro.props as {
  area: "storytelling" | "computing";
  socials: Array<{ type: string; value: string; icon: string }>;
  nav: Array<{
    name: string;
    url: string;
    new_tab?: boolean;
  }>;
};

function process_nav(
  input: { name: string; url: string; new_tab?: boolean }[]
): { name: string; url: string; new_tab?: boolean; is_active: boolean }[] {
  let path = Astro.url.pathname.substring(1);
  return input.map((v) => {
    return { ...v, is_active: path == v.url };
  });
}

let navigation = process_nav(nav);
---

<body class={area}>
  <div
    class="w-screen h-screen flex flex-col bg-background justify-stretch items-center overflow-hidden"
  >
    <div class="grid grid-cols-3 bg-primary-700 w-screen p-5">
      <span
        class="flex flex-row justify-start items-center gap-4 justify-self-start"
      >
        <a href="/">
          <img src="/Website Logo.png" class="h-10 aspect-1/1" />
        </a>

        {
          socials.map(({ value, icon }) => (
            <a
              class="text-text-100 text-xl hover:text-secondary-200"
              target="_blank"
              href={value}
            >
              <i class={icon} />
            </a>
          ))
        }
      </span>
      <a class="text-white text-3xl justify-self-center" href={area}>Lee-Orr</a>
      <span
        class="justify-self-end text-white text-xl flex flex-row justify-end items-center gap-4"
      >
        {
          navigation.map(({ is_active, name, url, new_tab }) => (
            <a
              class={
                (is_active
                  ? "pointer-events-none text-secondary-200 font-bold underline"
                  : "") + " hover:text-secondary-200"
              }
              target={new_tab ? "_blank" : ""}
              href={url}
            >
              {name}
            </a>
          ))
        }
      </span>
    </div>
    <div class="flex-grow relative">
      <AnimatedBackdrop area={area} />
      <slot />
    </div>
    <div class="flex flex-row justify-between bg-primary-800 w-screen p-2">
      <slot name="footer" />
    </div>
  </div>
</body>
